<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/stylesindivual.css">
</head>
<body>
    <div class="container">
        <div class="post-container">
            <a href="/posts/<%=post._id%>">
                <img src="<%= post.image %>" alt="<%= post.title %>" class="post-image">
            </a>
            <h3 class="post-title"><%= post.title %></h3>
            <h4 class="post-price"><%= post.price %></h4>
        </div>
    </div>
</body>
</html>